@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@600&display=swap');

* {
  font-family: 'M PLUS 1', sans-serif;
}

.vue-typer {
  font-size: 24px;
}

.vue-typer .custom.char {
  color: #FFFFFF;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.purple-heart--text {
  color: #882DCF;
}

.lilac--text {
  color: #D26FEB;
}

.french-rose--text {
  color: #EE4492;
}

.fresh-air--text {
  color: #AEE7FF;
}

.blueberry--text {
  color: #7C75FF;
}

.aquamarine-blue--text {
  color: #6EE3C0;
}

.heliotrope--text {
  color: #A780F9;
}
