@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;600;800&display=swap');

* {
  font-family: 'M PLUS 1', sans-serif;
  font-weight: 600;
}

.vue-typer {
  font-size: 24px;
}

.vue-typer .custom.char {
  color: #ffffff;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 800;
}

.purple-heart--text {
  color: #882dcf;
}

.lilac--text {
  color: #d26feb;
}

.french-rose--text {
  color: #ee4492;
}

.fresh-air--text {
  color: #aee7ff;
}

.blueberry--text {
  color: #7c75ff;
}

.aquamarine-blue--text {
  color: #6ee3c0;
}

.heliotrope--text {
  color: #a780f9;
}

.pointer {
  cursor: pointer;
}
